*, *::before, *::after {
  box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--bg-body);
    color: var(--text-secondary);
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    color: var(--accent-blue);
    text-decoration: none;
}
/*Colors font*/
.text-primary {
    color: var(--text-primary);
}
.text-secondary {
    color: var(--text-secondary);
}
/*containers*/
.l-cont, .m-cont, .s-cont {
    background-color: var(--bg-container);
    margin-block: 10px;
    padding: 15px;
    box-shadow: 1px 1px 2px 2px var(--shadow-gray);
}
.l-cont {
    width: 100%;
}
.m-cont {
    width: 50%;
}
.s-cont {
    width: 25%;
}

/*Margins*/
.mrg-i-5vw {
    margin-inline: 5vw;
}
.mrg-i-10vw {
    margin-inline: 10vw;
}
.mrg-i-5p {
    margin-inline: 5%;
}
.mrg-i-10p {
    margin-inline: 10%;
}
.max-1200px {
    max-width: 1200px;
}

/*border-radius*/
.brdrad-5, .brdrad-low {
    border-radius: 5px;
}
.brdrad-15, .brdrad-med {
    border-radius: 15px;
}
.brdrad-30, .brdrad-hi {
    border-radius: 30px;
}

/*Flex directions*/
.fl-row {
    display: flex;
    flex-direction: row;
}
.fl-col {
    display: flex;
    flex-direction: column;
}

/*Gaps for flexes*/
.gap-5 {
    gap: 5px;
    row-gap: 5px;
}
.gap-10 {
    gap: 10px;
    row-gap: 10px;
}
.gap-15 {
    gap: 15px;
    row-gap: 15px;
}
.gap-25 {
    gap: 25px;
    row-gap: 25px;
}
.gap-50 {
    gap: 50px;
    row-gap: 50px;
}

@media (min-width:1300px) {
    .max-1200px {
        margin: auto;
    }
}